h1 {
  font-family: "Shrikhand";
}

h2, p {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

.back-homepage {
  display: flex;
  align-items: center;
  color: #7e7e7e;
}
.back-homepage .fa-arrow-left {
  position: absolute;
  right: 90%;
  font-size: x-large;
}

.picture-menu {
  height: 150px;
}

.illustration {
  width: 100%;
  position: relative;
  z-index: 1;
}

.bloc-page {
  position: relative;
  z-index: 2;
  top: 70px;
}

.fiche-menu {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 60px 20px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background: #f6f6f6;
}

.plate {
  margin: 20px 0px 0px 0px;
  height: 25px;
}

#surlign {
  border-bottom: 4px solid #99E2D0;
  width: 35px;
}

.card {
  display: flex;
  background: #FFF;
  width: 100%;
  height: auto;
  font-family: "Roboto";
  overflow: hidden;
  font-size: 0.95em;
  border-radius: 1em;
  box-shadow: 0 0 0.3em rgba(114, 109, 109, 0.2);
  margin-top: 15px;
  margin-bottom: 15px;
}
.card:hover > .checkbox {
  transform: scaleX(1);
  width: 90px;
}
.card .card-text {
  background: #FFF;
  width: 100%;
  position: relative;
  padding: 10px 10px 10px 10px;
}
.card .card-text .card-title {
  font-weight: 700;
  height: 25px;
}
.card .card-text .card-subtitle {
  display: flex;
  justify-content: space-between;
  height: 25px;
  font-weight: 100;
  height: auto;
}
.card .card-text .card-subtitle > .price {
  font-weight: 700;
  margin-left: 10px;
}
.card .checkbox {
  display: flex;
  width: 0px;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  text-align: center;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #99E2D0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 700ms;
}
.card .checkbox .fas {
  color: #FFF;
  font-size: 1.7em;
  transform: rotate(90deg);
  transition: transform 0.5s 0.2s;
}

.card:hover .fas {
  transform: rotate(360deg);
}
.card:focus .fas {
  color: #9356DC;
}
.card:focus .fas .checkbox {
  width: 90px;
}

.button {
  display: grid;
  justify-items: center;
}
.button .btn-booking {
  width: 220px;
  height: 50px;
  background-image: linear-gradient(160deg, #FF79DA, #9356DC);
  border-radius: 2em;
  color: #FFF;
  box-shadow: 0 0 0.2em black;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  display: block;
}
.button .btn-booking:hover {
  opacity: 70%;
}

/*Header*/
header {
  width: 100%;
  height: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  box-shadow: 0px 12px 50px -18px black;
}
header .header__logo {
  width: 200px;
  height: auto;
}

/*Localisation*/
.localisation {
  background-color: #eaeaea;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  font-weight: 500;
  color: #353535;
}
.localisation .fas {
  width: 20px;
  height: 20px;
}
.localisation input {
  background-color: #eaeaea;
  border: none;
  width: 120px;
  color: black;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 1em;
}

#localisation::placeholder {
  color: black;
  font-family: "Roboto";
}

/*NAV*/
nav {
  width: auto;
  height: 285px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px 0 20px;
}
nav h1 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.btn__explore {
  width: 220px;
  height: 50px;
  background-image: linear-gradient(160deg, #FF79DA, #9356DC);
  border-radius: 2em;
  color: #FFF;
  box-shadow: 0 0 0.2em black;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.btn__explore:hover {
  opacity: 70%;
}

/*Section Explain*/
.explain {
  background-color: #FFF;
  padding: 40px 0 40px 0;
}
.explain .fas {
  margin-left: 10px;
  color: #7e7e7e;
}

.heading {
  margin-top: 0;
}

.container-explain {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.container-explain p {
  margin-left: 20px;
  font-weight: 600;
}

.case-explain {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  width: 90%;
  height: 80px;
  border-radius: 1em;
  box-shadow: 0 0 0.8em rgba(3, 0, 1, 0.2);
}
.case-explain:hover {
  background: rgba(147, 86, 220, 0.2);
}
.case-explain:hover i {
  color: #9356DC;
}

.number-explain {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  right: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  margin-left: -3px;
  background-color: #9356DC;
}

/*Section Restorant*/
#restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px 0;
}

.heading {
  margin-left: 20px;
}

.fiche-restaurant {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background: #FFF;
  border-radius: 1em;
  box-shadow: 0 0 0.3em rgba(114, 109, 109, 0.2);
}
.fiche-restaurant a {
  width: 100%;
  height: 70%;
  position: relative;
}
.fiche-restaurant .fiche-restaurant--picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.fiche-restaurant .btn-new {
  background: #99E2D0;
  color: green;
  width: 90px;
  height: 30px;
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  z-index: 1000;
  text-align: center;
  line-height: 30px;
  border-radius: 0.2em;
  font-weight: 700;
  font-family: "Roboto";
}

.fiche-restaurant_name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  margin: 10px 20px 6px 10px;
}
.fiche-restaurant_name p {
  margin: 0;
  line-height: 25px;
  width: 50%;
}
.fiche-restaurant_name .heart {
  line-height: 25px;
  vertical-align: middle;
}
.fiche-restaurant_name .heart .far {
  font-size: 1.5em;
}
.fiche-restaurant_name .name__restaurant {
  font-family: "Roboto";
  font-weight: 900;
}

#heart {
  position: absolute;
  left: 80%;
}
#heart > .far {
  position: relative;
  z-index: 1;
}
#heart:active::after {
  opacity: 1;
}
#heart::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: red;
  opacity: 0;
  transition: opacity 250ms;
}

/*Footer*/
footer {
  color: white;
  padding: 40px 0 40px 0;
  font-weight: bold;
  background: #353535;
  padding-left: 20px;
}
footer .logo-footer {
  height: 20px;
  filter: invert(100%);
}

ul {
  list-style-type: none;
  padding: 0;
}

.align-item-footer {
  display: flex;
  align-items: center;
  height: 30px;
}
.align-item-footer a {
  color: #FFF;
}
.align-item-footer i {
  margin-right: 10px;
  width: 20px;
}

/*@keyframes slidebox {
    from{
        transform: translateX(75px);
    }
    to{
        transform: translateX(0px);
    }
}*/
@keyframes card-coming {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  /*10%{
      opacity: 0.3;
  }*/
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  animation: card-coming 1200ms backwards;
}
.card--1 {
  animation-delay: 120ms;
}
.card--2 {
  animation-delay: 240ms;
}
.card--3 {
  animation-delay: 360ms;
}
.card--4 {
  animation-delay: 480ms;
}
.card--5 {
  animation-delay: 600ms;
}
.card--6 {
  animation-delay: 720ms;
}
.card--7 {
  animation-delay: 840ms;
}
.card--8 {
  animation-delay: 960ms;
}
.card--9 {
  animation-delay: 1080ms;
}

/*# sourceMappingURL=style.css.map */
