h1 {
  font-family: "Shrikhand", cursive;
}

p {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

/*Header*/
header {
  width: 100%;
  height: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  box-shadow: 0px 9px 40px -18px black;
}
header .header__logo {
  width: 250px;
  height: auto;
}

/*Localisation*/
.localisation {
  background-color: #eaeaea;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}
.localisation .fas {
  width: 20px;
  height: 20px;
}

/*NAV*/
nav {
  width: auto;
  height: 285px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px 0 20px;
}
nav h1 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

/*Section Explain*/
.explain {
  background-color: #FFF;
  padding: 40px 0 40px 0;
}
.explain .fas {
  margin-left: 10px;
  color: #7e7e7e;
}

.heading {
  margin-top: 0;
}

.container-explain {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.container-explain p {
  margin-left: 20px;
  font-weight: 600;
}

.case-explain {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  width: 90%;
  height: 80px;
  border-radius: 1em;
  box-shadow: 0 0 0.8em rgba(3, 0, 1, 0.2);
}
.case-explain:hover {
  background: rgba(147, 86, 220, 0.2);
}
.case-explain:hover i {
  color: #9356DC;
}

.number-explain {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  right: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  margin-left: -3px;
  background-color: #9356DC;
}

.btn__explore {
  width: 200px;
  height: 50px;
  background-image: linear-gradient(160deg, #FF79DA, #9356DC);
  border-radius: 2em;
  color: #FFF;
  box-shadow: 0 0 0.3em rgba(3, 1, 0, 0.5);
  margin-top: 20px;
  box-shadow: 0 0 0.2em black;
}
.btn__explore:hover {
  opacity: 70%;
}

/*Section Restorant*/
#restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px 0;
}

.heading {
  margin-left: 20px;
}

.fiche-restaurant {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background: #FFF;
  border-radius: 1em;
  box-shadow: 0 0 0.3em rgba(114, 109, 109, 0.2);
}
.fiche-restaurant .fiche-restaurant--picture {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.fiche-restaurant_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 6px 0 6px 10px;
}
.fiche-restaurant_name p {
  margin: 0;
  line-height: 25px;
}

.heart {
  position: absolute;
  left: 80%;
}

/*Footer*/
footer {
  color: white;
  padding: 40px 0 40px 0;
  background: #353535;
  padding-left: 20px;
}
footer .logo-footer {
  height: 20px;
  filter: invert(100%);
}

ul {
  list-style-type: none;
  padding: 0;
}

.align-item-footer {
  display: flex;
  align-items: center;
  height: 30px;
}
.align-item-footer a {
  color: #FFF;
}
.align-item-footer i {
  margin-right: 10px;
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
