.button{
    display: grid;
    justify-items: center;
    .btn-booking{
        @include btn;
        margin-top: 30px;
        display: block;
    }
}

%heart{
    line-height: 25px;
    vertical-align: middle;
    &:hover > .fas{
        opacity: 1;
    }
    &:hover > .far{
        opacity: 0;
    }
    .far{
        @include heart-empty;
    }
    .fas{
        @include heart-color;
    }
}
