/*@keyframes slidebox {
    from{
        transform: translateX(75px);
    }
    to{
        transform: translateX(0px);
    }
}*/
$card-numbers:9;
$card-coming-dur:1200ms;
$card-coming-delay:$card-coming-dur / $card-numbers;
$card-coming-translate: 20px;

@keyframes card-coming {
    0%{
        transform: translateY($card-coming-translate);opacity: 0;
        
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        
    }
}

.card{
    animation: card-coming $card-coming-dur backwards;
    @for $i from 1 to $card-numbers {
        &--#{$i} {
            animation-delay: $card-coming-delay * $i;
        }
    }
}