
$card-numbers:10!default;
$card-coming-dur:1200ms;
$card-coming-delay:$card-coming-dur / $card-numbers;
$card-coming-translate: 20px;

@keyframes card-coming {
    0%{
        transform: translateY($card-coming-translate);opacity: 0;
        
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        
    }
}

.card{
    animation: card-coming $card-coming-dur backwards;
    @for $i from 1 to $card-numbers {
        &--#{$i} {
            animation-delay: $card-coming-delay * $i;
        }
    }
}




@keyframes loader {
    0%{
        
    }
    5%{
        opacity:1;
    }
    16%{
        transform: rotate(360deg);
        opacity:1;
        color: $color-primary;
    }
    33%{
        transform:rotate(720deg);
        opacity:1;
        color: $color-secondary;
    }
    50%{
        transform:rotate(1080deg);
        opacity:1;
        color:$color-tertiary;
    }
    67%{
        transform: rotate(1440deg);
        opacity:1;
        color: $color-secondary;
    }
    83%{
        transform: rotate(1800deg);
        opacity:1;
        color: $color-primary;
    }
    100%{
        transform: rotate(2160deg);
    }
}

$pages-dur: 4000ms;

@keyframes pages {
    0%{
        opacity: 0;
    }
    66%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}