

@mixin btn {
    width: 220px;
    height: 50px;
    background:$clr-btn;
    border-radius: 2em;
    color:$color-white;
    box-shadow: 0 0 0.2em black;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: opacity 300ms;
    &:hover{
        opacity: 0.7;
    }
}
@mixin footer{
    color: invert($color: #000000);
    padding: $padding-section;
    font-weight: bold;
}
@mixin margin-card($size:7px){
    margin-top: $size;
    margin-bottom:$size;
}
