

@mixin btn {
    width: 220px;
    height: 50px;
    background:$clr-btn;
    border-radius: 2em;
    color:$color-white;
    box-shadow: 0 0 0.2em black;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transform: scale(1);
    transition: transform 300ms,opacity 450ms;
    &:hover{
        opacity: 0.9;
        transform: scale(1.1); 
        box-shadow: 0 0 0.5em black;
    }
}
@mixin heading{
    margin-left: 20px;
    font-weight: 700;
    font-size: 1.7em;
}

@mixin footer{
    color: invert($color: #000000);
    padding: $padding-section;
    font-weight: bold;
}

@mixin margin-card($size:7px){
    margin-top: $size;
    margin-bottom:$size;
}

$heart-transition: 1000ms;
$heart-font-size: 1.5em;

@mixin heart-color{
    font-size: $heart-font-size;
    color: transparent;
    background:$clr-btn;
    -webkit-background-clip: text;
    position: relative;
    right: 24px;
    opacity: 0;
    transition: opacity $heart-transition;
    transform-origin: bottom;
}

@mixin heart-empty{
    font-size: $heart-font-size;
    position: relative;
    background: transparent;
    opacity:1;
    transition: opacity $heart-transition;
    transform-origin: bottom;
}


/*Media Queries*/

$breakpoints: (
    mobile: 500px,
    large-mobile: 750px,
    computer: 1080px
);

@mixin mobile{
    @media only screen and (min-width:map-get($breakpoints,mobile)){
        @content;
    }
}
@mixin large-mobile {
    @media only screen and (min-width:map-get($breakpoints, large-mobile)){
        @content;
    }
}

@mixin  computer {
    @media only screen and (min-width:map-get($breakpoints,computer)){
        @content;
    }
    
}
