h1{
    font-family: 'Shrikhand';
}
h2,p{
    font-family:'Roboto'
}
a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
}
.back-homepage{
    display: flex;
    align-items: center;
    color: $color-icone;

    .fa-arrow-left{
        position: absolute;
        right: 90%;
        font-size: x-large;
    }    
}
.picture-menu{
    height: 150px;
    @include mobile{
        display: none;
    }
}
.illustration{
    width: 100%;
    position: relative;
    z-index: 1;
}
.bloc-page{
    position: relative;
    z-index: 2;
    top: 70px;
    @include mobile{
        top:0px;
        background: #fff;
    }
}
.title-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include mobile {
        width: 400px;
        font-size: 1em;
    }
    @include computer {
        width: 100%;
    }
    h1{
        font-size: 1.7em;
    }
}
.menu{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background:$background_2; 
    align-items: center;
    @include mobile{
        background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash2.jpg");
        background-size: cover;
    }
    @include computer{
        align-items: none ;
    }
}

.fiche-menu{
    width: 100%;
    @include mobile{
        width: 420px;
    }
    @include computer{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.plate{
    margin: $margin-plate;
    height: 25px;
    @include mobile{
        font-weight: bold;
        line-height: 25px;
    }
    &.entrance{
        width: 70px;
    }
    &.middle{
        width: 50px;
    }
    &.dessert{
        width: 80px;
    }
}
.surlign{
    border-bottom: 4px solid $color-tertiary;
    width: 35px;
}
.card {
    display: flex;
    width: 100%;
    height: 80px;
    font-family: $font;
    overflow: hidden;
    font-size: 0.95em;
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    box-shadow: $box-shadow;
    background: #fff;
    @include margin-card(15px);
    cursor: pointer;
    &:hover > .checkbox {
        -moz-transform: translate(0px, 0);
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
    }
    &:hover > .price{
        -moz-transform: translateX(-60px);
        -webkit-transform: translateX(-60px);
        -ms-transform: translateX(-60px);
    }
    &:hover > .card-subtitle{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover > .card-text{
        width:70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover > .card-title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF;
    width: 90%;
    height: auto;
    padding: $padding-card;   
    
    .card-title{
        font-weight: 700;
        
    }
    .card-subtitle{ 
        margin: 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
}
.price{
    height: 100%;
    width: 10%;
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transition: all 700ms ;
    translate:70px 0px;

    p{
        font-weight: bold;
        position: absolute;
        bottom: 0;
        margin-bottom: 12px;
    }
}
.checkbox{
    display: flex;
    height: auto;
    width: 90px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-align: center;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: $color-tertiary;
    -moz-transform: translate(70px,0);
    -webkit-transform: translate(70px,0) ;
    -ms-transform: translate(70px,0);
    transition: all 700ms;
    
      
    .fas{
        color: #FFF;
        font-size: 1.7em;
        transform: rotate(90deg);
        transition: transform 0.5s 0.2s;
     }
}
 
.card{
    &:hover .fas{
        transform: rotate(360deg);
    }
}

.heart-menu{
    float: right;
    @extend %heart;
}
.button{
    background: $background_2;
    .booking-menu{
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

